!!! 5
%head
  %meta{:charset => "utf-8"}/
  %link{:href => "stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
  /[if IE]
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
%body
  #wrapper
    #gov
      #office-use

    #biz
      #info

      #owned-property

      #leased-property

      #nonstandard-property

      #agree-signature