!!! 5
%head
  %meta{:charset => "utf-8"}/
  %link{:href => "stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
  /[if IE]
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
%body
  .page
    / jurisdiction info
    .section
      %ul#juris-info
        %li #[juris_name] #[juris_type} Property Assessor's Office
        %li #[juris_address1] #[juris_address2], #[juris_suite]
        %li #[juris_city], #[juris_state] #[juris_zip]
        %li Phone: #[juris_phone]

      %table#taxyear-info
        %tr
          %th Tax Year
          %td #[current_tax_year]
        %tr
          %th Account #
          %td #[account_number]
    / document info
    .section
      %h1.doc-title
        Tangible Personal Property Schedule
        %span.due-by-date
          Due: #[bpp_due_date]
      %h2.doc-sub-title For Reporting Commercial and Industrial Personal Property

    / assessor use only
    .section
      %p.doc-description In accordance with T.C.A. 67-5-903, this schedule must be completed, signed on the reverse side and filed with the Assessor of Property on or before March 1. Failure to do so will result in a forced assessment from which there is no appeal except to the #[juris_name] #[juris_type] Board of Equalization.
      %table#assessors-use-only
        %thead
          %tr
            %th{:colspan => "6"} Assessor's Use Only
        %tbody
          %tr
            %th Total This Side
            %td{:colspan => "3"} #[office_use_total_side1]
            %th APPR Year
            %td #[office_use_appr_year]
          %tr
            %th Total Reverse Side
            %td{:colspan => "3"} #[office_use_total_side2]
            %th Card Num
            %td #[office_use_card_num]
          %tr
            %th Total Attachments
            %td{:colspan => "3"} #[office_use_total_attachments]
            %th Num of Cards
            %td #[office_use_num_of_cards]
          %tr
            %th Total Appraised Value
            %td{:colspan => "3"} #[office_use_total_appraised_value]
            %th Prop Type
            %td #[office_use_prop_type]
          %tr
            %th Assessment Ratio
            %td{:colspan => "3"} #[office_use_assessment_ratio] x .30
            %th Ward
            %td #[office_use_ward]
          %tr
            %th Assessment
            %td{:colspan => "3"} #[office_use_assessment]
            %th City
            %td #[office_use_city]
          %tr
            %th Asmnt Type:
            %td #[office_use_assessment_type]
            %th Parcel Status
            %td #[office_use_parcel_status]
            %th SSD1
            %td #[office_use_ssd1]
          %tr
            %th Schedule Furnished
            %td{:colspan => "3"} #[office_use_schedule_furnish_date]
            %th SSD2
            %td #[office_use_ssd2]
          %tr
            %th Schedule Returned
            %td{:colspan => "3"} #[office_use_schedule_returned_date]
            %th Area Code
            %td #[office_use_area_code]
          %tr
            %th Desk Audited By
            %td{:colspan => "3"} #[office_use_desk_audit_name]
            %th Date
            %td #[office_use_desk_audit_name_date]
          %tr
            %th Field Audited By
            %td{:colspan => "3"} #[office_use_field_audit_name]
            %th Date
            %td #[office_use_field_audit_name_date]
          %tr
            %th Business Code
            %td{:colspan => "5"} #[office_use_business_code]
          %tr
            %th Units Type
            %td{:colspan => "3"} #[office_use_units_type]
            %th Number
            %td #[office_use_number]
          %tr
            %th Appraised $ per Unit
            %td{:colspan => "5"} #[office_use_appraised_dollar_per_unit]

    / Part 1 General Data
    .section
      %h3.section-title
        Part I. General Data
        %span.helper (Make changes as needed)
      %ul#business-info
        %li
          %span.label Business Owner
          %span.input #[bpp_business_owner]
        %li
          %span.label Contact Person
          %span.input #[bpp_business_contact]
        %li
          %span.label State Sales Tax Number
          %span.input #[bpp_state_sales_tax]
        %li
          %span.label IRS Identification Number
          %span.input #[bpp_irs_number]
        %li
          %span.label Business License Number
          %span.input #[bpp_business_license]
        %li
          %span.label Business Phone
          %span.input #[bpp_business_phone]
        %li
          %span.label Email Address
          %span.input #[bpp_business_email]
        %li
          %span.label Type of Business
          %span.input #[bpp_business_type]
        %li
          %span.label How long has this business been in operation?
          %span.input #[bpp_business_operation_time]
        %li
          %span.label How many vehicles are used in your business?
          %span.input #[bpp_business_vehicle_total]
        %li
          %span.label How many employees do you employ?
          %span.input #[bpp_business_employee_total]
      %ul#business-property-info
        %li
          %span.label Property Address
          %span.input #[bpp_business_property_address]
        %li
          %span.label Owner of Real Estate
          %span.input #[bpp_business_real_estate_owner]
        %li
          %span.label
            Business Located
            %span.helper
              (please check one)
          %span.input
            Outside city limits
            %span.checkbox
            Inside city limits
            %span.checkbox
        %li
          %span.label City
          %span.input #[bpp_business_city]
        %li
          %span.label Approx sqft of building area used?
          %span.input #[bpp_business_sqft]

    .alert.section
      %p If you were out of business in this county on #[taxyear_end_date], please notify the assessor of property of the date out of business  in order to avoid a forced assessment.

    / Part 2. Owned Property
    .section
      %h3.section-title
        Part II. Owned Personal Property
        %span.helper Report all personal property owned by you or held for use in your business/profession as of January 1, including items fully depreciated on your accounting records. Do not report inventories of merchandise held for sale or exchange or finished goods in the hands of the manufacturers. Personal property leased or rented and used in your business must be reported in <u>Part 3</u> on the reverse side of this schedule. Property on which you need to report a Nonstandard value must be reported in <u>Part 4</u> on the reverse side of this schedule and not in this section. <strong>A separate schedule must be filed for each business location.</strong> List the original cost to you for each group below, by year acquired, in the REVISED COST column.  An <strong>Asset Listing</strong> should accompany this schedule. This can be faxed to #[juris_fax] or emailed to #[juris_email].

      %h3.sub-title
        <u>Alternative Reporting for Small Accounts</u>
        %span.helper If you believe the depreciated value of your property is $1,000 or less, you may use the Small Accounts Certification (reverse side) as an alternative to reporting detail costs below. With this certification, subject to audit, your Assessment will be set at $300.

      .alert
        %p Reverse side of this form must be completed if applicable

      %table#business-property
        %tr
          %td.column
            %table
              %tr
                %td.column
                  %table#group-1
                    %thead
                      %tr
                        %th{:colspan => "4"} Group 1 - Furniture, Fixtures, General Equipment &amp; All Property not in another group
                    %tbody
                      %tr
                        %th Year
                        %th Cost on File
                        %th Revised Cost
                        %th Depr
                      %tr
                        %td 2011
                        %td.disabled
                        %td
                        %td 0.88
                      %tr
                        %td 2010
                        %td
                        %td
                        %td 0.75
                      %tr
                        %td 2009
                        %td
                        %td
                        %td 0.63
                      %tr
                        %td 2008
                        %td
                        %td
                        %td 0.50
                      %tr
                        %td 2007
                        %td
                        %td
                        %td 0.38
                      %tr
                        %td 2006
                        %td
                        %td
                        %td 0.25
                      %tr
                        %td Prior
                        %td
                        %td
                        %td 0.20
                    %tfoot
                      %tr
                        %td Total
                        %td
                        %td

                  %table#group-2
                    %thead
                      %tr
                        %th{:colspan => "4"} Group 2 - Computers, Copiers, Peripherals, Fax machines, &amp; Tools
                    %tbody
                      %tr
                        %th Year
                        %th Cost on File
                        %th Revised Cost
                        %th Depr
                      %tr
                        %td 2011
                        %td.disabled
                        %td
                        %td 0.67
                      %tr
                        %td 2010
                        %td
                        %td
                        %td 0.33
                      %tr
                        %td Prior
                        %td
                        %td
                        %td 0.20
                    %tfoot
                      %tr
                        %td Total
                        %td
                        %td

                  %table#group-3
                    %thead
                      %tr
                        %th{:colspan => "4"} Group 3 - Molds, Dies, &amp; Jigs
                    %tbody
                      %tr
                        %th Year
                        %th Cost on File
                        %th Revised Cost
                        %th Depr
                      %tr
                        %td 2011
                        %td.disabled
                        %td
                        %td 0.75
                      %tr
                        %td 2010
                        %td
                        %td
                        %td 0.50
                      %tr
                        %td 2009
                        %td
                        %td
                        %td 0.25
                      %tr
                        %td Prior
                        %td
                        %td
                        %td 0.20
                    %tfoot
                      %tr
                        %td Total
                        %td
                        %td

                %td.column
                  %table#group-4
                    %thead
                      %tr
                        %th{:colspan => "4"}
                          Group 4 - Aircraft, Boats, &amp; Towers
                          %span.helper (not classified as real property)
                    %tbody
                      %tr
                        %th Year
                        %th Cost on File
                        %th Revised Cost
                        %th Depr
                      %tr
                        %td 2011
                        %td.disabled
                        %td
                        %td 0.92
                      %tr
                        %td 2010
                        %td
                        %td
                        %td 0.85
                      %tr
                        %td 2009
                        %td
                        %td
                        %td 0.77
                      %tr
                        %td 2008
                        %td
                        %td
                        %td 0.69
                      %tr
                        %td 2007
                        %td
                        %td
                        %td 0.62
                      %tr
                        %td 2006
                        %td
                        %td
                        %td 0.54
                      %tr
                        %td 2005
                        %td
                        %td
                        %td 0.46
                      %tr
                        %td 2004
                        %td
                        %td
                        %td 0.38
                      %tr
                        %td 2003
                        %td
                        %td
                        %td 0.31
                      %tr
                        %td 2002
                        %td
                        %td
                        %td 0.23
                      %tr
                        %td Prior
                        %td
                        %td
                        %td 0.20
                    %tfoot
                      %tr
                        %td Total
                        %td
                        %td

                  %table#group-5
                    %thead
                      %tr
                        %th{:colspan => "4"} Group 5 - Manufacturing Machinery
                    %tbody
                      %tr
                        %th Year
                        %th Cost on File
                        %th Revised Cost
                        %th Depr
                      %tr
                        %td 2011
                        %td.disabled
                        %td
                        %td 0.88
                      %tr
                        %td 2010
                        %td
                        %td
                        %td 0.75
                      %tr
                        %td 2009
                        %td
                        %td
                        %td 0.63
                      %tr
                        %td 2008
                        %td
                        %td
                        %td 0.50
                      %tr
                        %td 2007
                        %td
                        %td
                        %td 0.38
                      %tr
                        %td 2006
                        %td
                        %td
                        %td 0.25
                      %tr
                        %td Prior
                        %td
                        %td
                        %td 0.20
                    %tfoot
                      %tr
                        %td Total
                        %td
                        %td
                        %td

              %tr{:rowspan => "2"}
                %td
                  %ul
                    %li Return this schedule and any accompanying data on or before #[bpp_due_date] to:
                    %li #[juris_name] #[juris_type} Property Assessor's Office
                    %li Attn: Personal Property Section
                    %li #[juris_address1] #[juris_address2], #[juris_suite]
                    %li #[juris_city], #[juris_state] #[juris_zip]

          %td.column
            %table#group-6
              %thead
                %tr
                  %th{:colspan => "4"}
                    Group 6 - Billboards, Tanks &amp; Pipelines
                    %span.helper (unless classified as real property)
              %tbody
                %tr
                  %th Year
                  %th Cost on File
                  %th Revised Cost
                  %th Depr
                %tr
                  %td 2011
                  %td.disabled
                  %td
                  %td 0.94
                %tr
                  %td 2010
                  %td
                  %td
                  %td 0.88
                %tr
                  %td 2009
                  %td
                  %td
                  %td 0.81
                %tr
                  %td 2008
                  %td
                  %td
                  %td 0.75
                %tr
                  %td 2007
                  %td
                  %td
                  %td 0.69
                %tr
                  %td 2006
                  %td
                  %td
                  %td 0.63
                %tr
                  %td 2005
                  %td
                  %td
                  %td 0.56
                %tr
                  %td 2004
                  %td
                  %td
                  %td 0.50
                %tr
                  %td 2003
                  %td
                  %td
                  %td 0.44
                %tr
                  %td 2002
                  %td
                  %td
                  %td 0.38
                %tr
                  %td 2001
                  %td
                  %td
                  %td 0.31
                %tr
                  %td 2000
                  %td
                  %td
                  %td 0.25
                %tr
                  %td Prior
                  %td
                  %td
                  %td 0.20
              %tfoot
                %tr
                  %td Total
                  %td
                  %td

            %table#group-7
              %thead
                %tr
                  %th{:colspan => "4"} Group 7 - Scrap Property
              %tbody
                %tr
                  %th Year
                  %th Cost on File
                  %th Revised Cost
                  %th Depr
                %tr
                  %td All
                  %td
                  %td
                  %td 0.02

            %table#group-8
              %thead
                %tr
                  %th{:colspan => "4"} Group 8 - Raw Materials &amp; Supplies
              %tbody
                %tr
                  %th
                  %th Cost on File
                  %th Revised Cost
                  %th Depr
                %tr
                  %td Original Cost
                  %td
                  %td
                  %td 1.00

            %table#group-9
              %thead
                %tr
                  %th{:colspan => "4"} Group 9 - Vehicles
              %tbody
                %tr
                  %th Year
                  %th Cost on File
                  %th Revised Cost
                  %th Depr
                %tr
                  %td 2011
                  %td.disabled
                  %td
                  %td 0.80
                %tr
                  %td 2010
                  %td
                  %td
                  %td 0.60
                %tr
                  %td 2009
                  %td
                  %td
                  %td 0.40
                %tr
                  %td Prior
                  %td
                  %td
                  %td 0.20
              %tfoot
                %tr
                  %td Total
                  %td
                  %td

            %table#group-10
              %thead
                %tr
                  %th{:colspan => "4"} Group 10 - Construction in Progress
              %tbody
                %tr
                  %th Year
                  %th Cost on File
                  %th Revised Cost
                  %th Depr
                %tr
                  %td All
                  %td
                  %td
                  %td 0.15

    .alert
      %p Print your Name &amp; Title and Sign the Schedule on the Reverse Side

  .page
    / Part 3. Leased Property
    .section
      %table#business-leased-property
        %thead
          %tr
            %th{:colspan => "10"}
              %h3
                Part III. Leased Personal Property
                %span.helper Report all items leased or rented by you for the conduct of your business as of January 1st, regardless of any contract between the lessor and lessee as to who shall pay the taxes. Leased property is to be assessed to the lessee.
        %tbody
          %tr
            %th GRP
            %th Item Dscr, Make, &amp; Model #
            %th * Year Made
            %th ** Cost New
            %th Term of Lease &amp; Year Lease Began
            %th Depreciated Value
            %th Monthly Rent
            %th Name of Lessor
            %th Address of Lessor
            %th Assessor's Use Only
          %tr
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
          %tr
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
          %tr
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
          %tr
            %td{:colspan => "4"}
              %span.helper * Report year of aquisition if lessor purchased the property being used.
              %span.helper ** Report Advertised retail price if cost is unknown.
            %td Total
            %td
            %td{:colspan => "4"} If additional space is needed, attach a separate sheet using the same format

    / Part 4. Nonstandard Property
    .section
      #nonstandard-property
        %table#business-nonstandard-property
          %thead
            %tr
              %th{:colspan => "2"}
                %h3
                  Part IV. Owned items with nonstandard value
                  %span.helper Report property on which you wish to report a value different from standard depreciated cost where such value more closely approximates fair market value. The assessor may request supportive information before accepting such value.
          %tbody
            %tr
              %td
                %table#business-nsp-data
                  %tr
                    %th GRP
                    %th Item Description
                    %th Year Made
                    %th Original Cost
                    %th DEPR Factor
                    %th Value as of January 1<sup>st</sup>
                  %tr
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                  %tr
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                  %tr
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                  %tr
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                  %tr
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                  %tr
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                  %tr
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                  %tr
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                  %tr
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                  %tr
                    %td
                    %td
                    %td
                    %td
                    %td Total
                    %td.disabled
                  %tr
                    %td{:colspan => "6"} If additional space is needed, attach a separate sheet using the same format
              %td
                %table#business-nsp-office-use
                  %thead
                    %tr
                      %th{:colspan => "2"} Assessor's Use Only
                  %tbody
                    %tr
                      %th DEPR
                      %th Value
                    %tr
                      %td
                      %td
                    %tr
                      %td
                      %td
                    %tr
                      %td
                      %td
                    %tr
                      %td
                      %td
                    %tr
                      %td
                      %td
                    %tr
                      %td
                      %td
                    %tr
                      %td
                      %td
                    %tr
                      %td
                      %td
                    %tr
                      %td
                      %td
                    %tr
                      %td
                      %td
                    %tr
                      %td.disabled
                      %td

    / Agreements and Signature
    .section
      #agree-signature
        %ul#business-agreement
          %li
            %span.input
              %span.checkbox
            %span.label
              Small accounts certification (Optional)
              %span.helper
                By checking the box above, I certify that the total depreciated value of my property (all groups), based on Assessor’s Depreciation Schedule is $1,000 or less. I understand this certification is subject to penalties for perjury and I may be subject to statutory penalty and cost if this certification is proven false.

          %li
            %span.input
              %span.checkbox
            %span.label I certify that the information contained herein, including any accompanying schedules or data, is true, correct, and complete, to the best of my knowledge and belief.
        %ul#business-signature
          %li
            %span.label Print Name
            %span.input
              &nbsp;#[bpp_business_owner]
              %span.helper
                Please print name above and sign below
          %li
            %span.label Title
            %span.input
              &nbsp;#[bpp_business_owner_title]
              %span.helper
                Please print
          %li
            %span.label Signed
            %span.input #[bpp_business_owner_signature]
          %li
            %span.label Date
            %span.input #[bpp_business_owner_signature_date]