// Vars
$font-color:#000;

// table displays
table {

  thead {
    th, td { background-color:lighten($font-color, 70%); }
  }
}

// bordered box
.border { border:1px solid $font-color; }

// lined tables
.lined {
  border-right:1px solid $font-color;
  border-bottom:1px solid $font-color;
}

// lined bottom
.lined-bottom { border-bottom:1px solid $font-color; }

// disable
.disabled { background-color:lighten($font-color, 70%); }


// helper text
.helper {
  display:block;
  font-size:0.75em;
  text-transform:normal;
}

// alert
.alert {
  background-color:lighten($font-color, 70%);
  @extend .border;
  font-weight:900;
  margin:0 4.5%;
  padding: 1% 2%;
  text-align:center;
  width:86%;
}

.section-title {

  .helper {
    display:inline;
    font-weight:400;
  }
}

// doc/form title
.doc-title, .doc-sub-title {
  text-align:center;
  text-transform:uppercase;

  .due-by-date {
    @extend .alert;
    @include float(none);
    font-size:.8em;
    font-weight:400;
    margin:0;
    padding:.25em .5em;
  }
}

.doc-title { margin-bottom:.25em; }

// assessors use only
#assessors-use-only {

  th, td{ border-right:none; }

  th { border:none; }

  thead {
    th, td { text-align:center; }
  }

}

// Part 1
#business-info, #business-property-info {

}