// page break
.page-break {
  page-break-after: always;
}

// floating sections
.page, #juris-info, #taxyear-info, .doc-description, #assesors-use-only, #business-info, #business-property-info {
  @include float(left);
}

// defining a page
.page {
  @extend .page-break;
  // height:98%;
  min-height:792px;
  overflow:hidden;
  width:100%;
  // margin:0 auto 1em;
  // width:98%;
  // width:612px;
}

// section styles
.section, .alert {
  @include float(left);
  margin-bottom:1em;
  width:100%;
}

// major layout elements
div, table {
  width:100%;
}

// table base styles
table {
  border-collapse:collapse;
  border-spacing:0 0;
  @extend .border;

  tr {
    &:last-child, &.last {

      th, td {
        border-bottom:none;
      }
    }

    th, td {
      &:last-child, &.last {
        border-right:none;
      }
    }
  }

  th, td {
    // padding:.2em;
    @extend .lined;
    text-align:left;
    vertical-align:top;
  }

  th {
    font-weight:900;
    text-transform:uppercase;
  }

  thead {
    th, td {
      border-bottom:1px solid $font-color !important;
    }
  }

  table > table, td table {

    border:none; }

  tbody {
    th, td {
      padding-left:.5em;

      &.column { padding:0; }
    }
  }
}

// juris specific info
#juris-info {
  margin-right:5%;
  width:65%;
}

#taxyear-info {
  width:29%;
}

// doc description
.doc-description {
  margin-right:5%;
  width:55%;
}

// assessors use box
#assessors-use-only {
  width:40%;
}

// part 1
#business-info, #business-property-info {
  margin-right:1%;
  width:49%;

  li {
    @include float(left);
    width:100%;

    span {
      @include float(left);
      width:50%;

      &.input { @extend .lined-bottom; }
    }
  }
}