/* line 17, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/library/_type.scss */
h1 {
  font-size: 2em;
}

/* line 4, ../sass/library/_type.scss */
h2 {
  font-size: 1.5em;
}

/* line 5, ../sass/library/_type.scss */
h3 {
  font-size: 1.2em;
}

/* line 6, ../sass/library/_type.scss */
h4 {
  font-size: 1.05em;
}

/* line 7, ../sass/library/_type.scss */
h5 {
  font-size: 1em;
}

/* line 8, ../sass/library/_type.scss */
h6 {
  font-size: .95em;
}

/* line 10, ../sass/library/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

/* line 12, ../sass/library/_type.scss */
strong, b {
  font-weight: 900;
}

/* line 14, ../sass/library/_type.scss */
em, i {
  font-style: italic;
}

/* line 16, ../sass/library/_type.scss */
u {
  text-decoration: underline;
}

/* line 1, ../sass/library/_layout.scss */
.page-break, .page {
  page-break-after: always;
}

/* line 6, ../sass/library/_layout.scss */
.page {
  min-height: 792px;
  overflow: hidden;
}

/* line 17, ../sass/library/_layout.scss */
.section {
  display: inline;
  float: left;
  margin-bottom: 1em;
  width: 100%;
}

/* line 24, ../sass/library/_layout.scss */
div, table {
  width: 100%;
}

/* line 29, ../sass/library/_layout.scss */
table {
  border-collapse: collapse;
  border-spacing: 0 0;
}
/* line 33, ../sass/library/_layout.scss */
table th, table td {
  padding: .2em;
  text-align: top;
  vertical-align: top;
}
/* line 39, ../sass/library/_layout.scss */
table th {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

/* line 47, ../sass/library/_layout.scss */
#juris-info, #taxyear-info, .doc-description, #assesors-use-only {
  display: inline;
  float: left;
}

/* line 51, ../sass/library/_layout.scss */
#juris-info {
  margin-right: 5%;
  width: 65%;
}

/* line 56, ../sass/library/_layout.scss */
#taxyear-info {
  width: 30%;
}

/* line 61, ../sass/library/_layout.scss */
.doc-description {
  margin-right: 5%;
  width: 55%;
}

/* line 66, ../sass/library/_layout.scss */
#assessors-use-only {
  width: 40%;
}

/* line 7, ../sass/library/_display.scss */
table thead th, table thead td {
  background-color: #b3b3b3;
}

/* line 12, ../sass/library/_display.scss */
.helper {
  display: block;
  font-size: 0.75em;
  text-transform: normal;
}

/* line 19, ../sass/library/_display.scss */
.doc-title, .doc-sub-title {
  text-align: center;
  text-transform: uppercase;
}
/* line 23, ../sass/library/_display.scss */
.doc-title .due-by-date, .doc-sub-title .due-by-date {
  border: 2px solid black;
  font-size: .8em;
  font-weight: 400;
  padding: .2em .4em;
}

/* line 31, ../sass/library/_display.scss */
.doc-title {
  margin-bottom: .25em;
}

/* line 2, ../sass/library/_base.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 8, ../sass/library/_base.scss */
body {
  color: black;
  font-family: "Helvetica Nueu", Helvetica, Arial, sans-serif;
  font-size: .625em;
  line-height: 1.25;
}
